<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	
	<meta charset="utf-8" />
	
	<title>选择监察人</title>
	<link rel="stylesheet" href="../cssAndJs/libs/bootstrap.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/font-awesome.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/layui/css/layui.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/base.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/plan_style.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/temp_edit.css"/>
	<link rel="stylesheet" href="../css/jquery.treeview.css"/>
	
	<script type="text/javascript" src="../cssAndJs/libs/layui/layui.js"></script>
	<script type="text/javascript" src="../cssAndJs/libs/jquery.js"></script>
	<script type="text/javascript" src="../cssAndJs/libs/jquery.nicescroll.js"></script>
	<script type="text/javascript" src="../cssAndJs/libs/personnel.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/jquery.treeview.js"></script>

	<style type="text/css">
		.folder:hover{color: black;}
		.person{
			cursor: pointer;
		}
		.office-div{
			border-style: solid;
		    border-width: 1px;
		    border-color: gainsboro;
		    padding: 15px;
		    height: 410px;
		    margin-top: 8px;
		}
		.font_style{
			color: red;
			font-weight: bold;
		}
	</style>
	<style type="text/css">
		input[type="checkbox"]{appearance: none; -webkit-appearance: none;outline: none;display:none}
		label{float: right;display:inline-block;cursor:pointer;}
		label input[type="checkbox"] + span{width:16px;height:16px;display:inline-block;background:url(../img/checkbox_01.png)  no-repeat;background-position:0 0;}
	</style>
	</head>
  	<!--
	      作者：Jiayan He 
	      时间：2017-12-08
	      描述：选择监察人页面
	-->
  	<body style="padding-right: 17px;padding-bottom: 17px;">
    	<div class="plan_layout" style="margin-top: 8px; margin-left: 8px;">
    		<div style="margin-top: 8px;">
    			<form id="myForm" class="layui-form" action="" method="get">
					<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 8px;">
						<tr>
							<td>
								<div class="form_item">
									<label style="width: 35px;">机构:</label>
									<div class="input_wrap">
										<input type="text" class="layui-input" style="width: 420px;" id="officeName" name="officeName" placeholder="公司、部门"/>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding-top: 12px;">
								<div class="form_item">
									<label style="width: 35px;">职位:</label>
									<div class="input_wrap">
										<input type="text" class="layui-input" style="width: 150px;" id="officeName" name="officeName" placeholder="职位"/>
									</div>
								</div>
								<div class="form_item" style="margin-left: 51px;">
									<label style="width: 35px;">姓名:</label>
									<div class="input_wrap">
										<input type="text" class="layui-input" style="width: 150px;" id="officeName" name="officeName" placeholder="姓名"/>
									</div>
								</div>
								<div class="form_item" style="margin-left: 12px;">
									<input type="submit" class="btn_sm_blue3 f_left" value="查询"/>
								</div>
							</td>
						</tr>
					</table>
				</form>
    		</div>
   			<div class="office-div employee_wrap">
    			<ul id="tree" class="officetree">
					<li><span class="folder">重庆满惠</span>
						<ul style="padding-left: 15px;">
							<li th:each="office,userStat:${CQList}">
	                        	<span class="folder" th:text="${office.name}"></span>
	                        	<ul style="padding-left: 15px;" th:if="${office.empList} != null">
			                        <li th:each="empOne,userStat:${office.empList}">
			                        	<span class="person">
			                        		<span id="name" style="margin-left: 15px;" th:text="${empOne.name}"></span>
			                        		<span id="post" th:text="'('+${empOne.postName}+')'" th:if="${empOne.postName} != null"></span>
			                        		<input type="hidden" id="userId" th:value="${empOne.userId}"/>
		                        		</span>
		                        		<label>
			                        		<input type="checkbox" name="userId" th:value="${empOne.userId}"/>
			                        		<span th:onclick="'_check(&quot;'+${empOne.userId}+'&quot;);'"></span>
		                        		</label>
			                       	</li>
			                    </ul>
	                        	
	                        	<ul style="padding-left: 15px;" th:if="${office.subOffices} != null">
			                        <li th:each="sub,userStat:${office.subOffices}">
			                        	<span class="folder" th:text="${sub.name}"></span>
			                        	<ul style="padding-left: 15px;" th:if="${sub.empList} != null">
					                        <li th:each="empTwo:${sub.empList}">
					                        	<span class="person">
					                        		<span id="name" style="margin-left: 15px;" th:text="${empTwo.name}"></span>
					                        		<span id="post" th:text="'('+${empTwo.postName}+')'" th:if="${empTwo.postName} != null"></span>
					                        		<input type="hidden" id="userId" th:value="${empTwo.userId}"/>
				                        		</span>
				                        		<label>
				                        			<input type="checkbox" name="userId" th:value="${empTwo.userId}"/>
				                        			<span th:onclick="'_check(&quot;'+${empTwo.userId}+'&quot;);'"></span>
			                        			</label>
					                       	</li>
					                    </ul>
					                    
					                    <ul style="padding-left: 15px;" th:if="${sub.subOffices} != null">
				                    		<li th:each="subSub,userStat:${sub.subOffices}">
				                    			<span class="folder" th:text="${subSub.name}"></span>
				                    			<ul style="padding-left: 15px;" th:if="${subSub.empList} != null">
							                        <li th:each="empThree:${subSub.empList}">
							                        	<span class="person">
							                        		<span id="name" style="margin-left: 15px;" th:text="${empThree.name}"></span>
							                        		<span id="post" th:text="'('+${empThree.postName}+')'" th:if="${empThree.postName} != null"></span>
							                        		<input type="hidden" id="userId" th:value="${empThree.userId}"/>
						                        		</span>
						                        		<label>
							                        		<input type="checkbox" name="userId" th:value="${empThree.userId}"/>
							                        		<span th:onclick="'_check(&quot;'+${empThree.userId}+'&quot;);'"></span>
						                        		</label>
							                       	</li>
							                    </ul>
							                    
							                    <ul style="padding-left: 15px;" th:if="${subSub.subOffices} != null">
						                    		<li th:each="subSubSub,userStat:${subSub.subOffices}">
						                    			<span class="folder" th:text="${subSubSub.name}"></span>
						                    			<ul style="padding-left: 15px;" th:if="${subSubSub.empList} != null">
									                        <li th:each="empFore:${subSubSub.empList}">
									                        	<span class="person">
									                        		<span id="name" style="margin-left: 15px;" th:text="${empFore.name}"></span>
									                        		<span id="post" th:text="'('+${empFore.postName}+')'" th:if="${empFore.postName} != null"></span>
									                        		<input type="hidden" id="userId" th:value="${empFore.userId}"/>
								                        		</span>
								                        		<label>
									                        		<input type="checkbox" name="userId" th:value="${empFore.userId}"/>
									                        		<span th:onclick="'_check(&quot;'+${empFore.userId}+'&quot;);'"></span>
								                        		</label>
									                       	</li>
									                    </ul>
						                    		</li>
							                    </ul>
				                    		</li>
					                    </ul>
			                       	</li>
			                    </ul>
	                       	</li>
						</ul>
					</li>  				
	    		</ul>
	    		<script type="text/javascript">
			    	$("#tree").treeview();
			    </script>
    		</div>
    		<div class="foot_btn_box" style="margin-top: 28px;">
				<span id="btn1" class="btn_sm_blue8">确定</span>
				<span id="btn2" class="btn_sm_white3" style="margin-left: 80px;">取消</span>
			</div>
    	</div>
  	</body>
  	<script type="text/javascript">
  		layui.use(["form", "laydate", "layer", "laypage"], function () {
	        var form = layui.form;
	        var laydate = layui.laydate;
	        var layer = layui.layer;
	        var laypage = layui.laypage;
	        layer.config({
	            btnAlign: "c",
	            resize: false
	        });
	        $(".employee_wrap").niceScroll({
	            cursorcolor: "#4d98fb",
	            cursorwidth: "6px",
	            cursorborderradius: "0px"
	        });
	    });
  		
  		$(".person").on("click", function () {
			$(this).next().children("span").click();
		})
  	</script>
  	<script type="text/javascript">
  		/*<![CDATA[*/
  		$(function(){
			$("#btn1").click(function() {
				var count = 0;
			    var supervisorCompany = "";
		    	var supervisorOffice = "";
		    	var supervisor = "";
		    	var supervisorId = "";
			    $(".person").each(function(){    
		        	if($(this).hasClass("font_style")){
		        		count++; 
		        		supervisor = $(this).children("#name").text();
		        		supervisorId = $(this).children("#userId").val();
		        		var parents = $(this).parentsUntil($("#tree"), "li");
				    	supervisorCompany = $(parents[parents.length - 1]).children("span").text();
		        		for(var i = parents.length; i >= 0; i--){
				    		if($(parents[i]).children("span").text() != supervisorCompany)
				    			supervisorOffice += $(parents[i]).children(".folder").text() + "-";
				    	}
				    	supervisorOffice = supervisorOffice.substring(1, supervisorOffice.lastIndexOf("--"));
		        	}
		        });
			    if(count != 0){
					parent.$("#supervisorCompany").val(supervisorCompany);
					parent.$("#supervisorOffice").val(supervisorOffice);
					parent.$("#supervisor").val(supervisor);	
					parent.$("#supervisorId").val(supervisorId);	
							    	
			    	var index = parent.layer.getFrameIndex(window.name);
			    	parent.layer.close(index);
			    }else{
			    	layer.msg("请选择监察人！");
			    }
			});
			$("#btn2").click(function(){
				var index = parent.layer.getFrameIndex(window.name);
			    parent.layer.close(index);
			});
		});
		/*]]>*/
  	</script>
  	<script type="text/javascript">
  		function _check(val){
			$("input[name='userId']").each(function(){    
		        if($(this).val() == val){    
		        	if($(this).attr("checked") != undefined){
		        		$(this).attr("checked", false);
		        		$(this).next().css("background-position", "0 0");
		         		$(this).parent().prev().removeClass("font_style"); 
		        	}else{
		        		$(this).attr("checked", true);
		        		$(this).next().css("background-position", "0 -18px");
		        		$(this).parent().prev().addClass("font_style");
		        	}
		        }else{
		         	$(this).attr("checked", false);
		         	$(this).next().css("background-position", "0 0");
		         	$(this).parent().prev().removeClass("font_style"); 
		        }
	        }); 
		}
  		
  		function _search(){
  			var officeName = $("#officeName").val();
  			if(officeName != ""){
  				/* $("#second").find("li").each(function() {
	  				if(!$(this).children("span").text().includes(officeName)){
	  					$(this).css("display", "none");
	  				}
	  			}) */
  			}
  		}
  	</script>
</html>
