<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>计划协作执行或者查看详情</title>
		<link rel="stylesheet" href="../cssAndJs/libs/bootstrap.css"/>
		<link rel="stylesheet" href="../cssAndJs/libs/font-awesome.css"/>
		<link rel="stylesheet" href="../cssAndJs/libs/layui/css/layui.css"/>
		<link rel="stylesheet" href="../cssAndJs/libs/layui/css/modules/laydate/default/laydate.css"/>
		<link rel="stylesheet" href="../cssAndJs/css/base.css"/>
		<link rel="stylesheet" href="../cssAndJs/css/plan_style.css"/>
		
		<script type="text/javascript" src="../cssAndJs/libs/layui/layui.js"></script>
		<script type="text/javascript" src="../cssAndJs/libs/jquery.js"></script>
		
		<style type="text/css">
			.cut_off_line{margin: 20px 0px;}
			
			.acce_style{
				width: 80px;
			    height: 80px;
			    border-style: groove;
			    margin: -20px 0 0 20px;
			    padding: 25px;
			    cursor: pointer;
			}
		</style>
	</head>
	<!--
	        作者：Jiayan He 
	        时间：2017-12-04
	        描述：计划协作执行或者查看详情页面
    -->
	<body id="myBody" style="padding-right: 12px;padding-bottom: 12px;height: auto;">
		<div class="plan_layout layui-form">
			<div>
				<div class="form_item">
					<label style="margin-left: 75px;font-weight: 600;">申请协作信息</label>
				</div>
				<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 200px;margin-top: -55px;">
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>协作主题:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="theme" name="theme" th:value="${coop.theme}" readonly="readonly" style="width: 615px;background-color: #F5F5F5;"/>
									<input type="hidden" id="coopId" name="coopId" th:value="${coop.coopId}"/>
									<input type="hidden" id="apId" name="apId" th:value="${coop.apId}"/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>协作原因:</label>
								<div class="input_wrap">
									<!-- 富文本编辑器 -->
									<textarea class="layui-textarea" id="coopReason" name="coopReason" th:text="${coop.coopReason}" readonly="readonly" style="height: 100px;width: 1028px;background-color: #F5F5F5;color: #999;"></textarea>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>协作完成标准:</label>
								<div class="input_wrap">
									<!-- 富文本编辑器 -->
									<textarea class="layui-textarea" id="criterion" name="criterion" th:text="${coop.criterion}" readonly="readonly" style="height: 100px;width: 1028px;background-color: #F5F5F5;color: #999;"></textarea>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>协作人:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input blame" id="collaborator" name="collaborator" th:value="${coop.collaborator}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="margin-left: 50px;">
								<label>机构:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="collaboratorCompany" name="collaboratorCompany" th:value="${coop.collaboratorCompany}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="margin-left: 50px;">
								<label>部门:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="collaboratorOffice" name="collaboratorOffice" th:value="${coop.collaboratorOffice}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>建议完成时间:</label>
								<div class="input_wrap">
									<input th:if="${coop.propFinishTime} != null" type="text" class="layui-input" id="propFinishTime" name="propFinishTime" th:value="${#dates.format(coop.propFinishTime,'yyyy-MM-dd')}" readonly="readonly" style="background-color: #F5F5F5;"/>
									<input th:if="${coop.propFinishTime} == null" type="text" class="layui-input" id="propFinishTime" name="propFinishTime" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
						</td>
					</tr>
				</table>
				<hr class="layui-bg-orange cut_off_line"/>
			</div>
			<div>
				<div class="form_item">
					<label style="margin-left: 75px;font-weight: 600;">需协作计划</label>
				</div>
				<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 200px;margin-top: -55px;">
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>计划名称:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="actionPlanName" name="actionPlanName" th:value="${ap.actionPlanName}" readonly="readonly" style="width: 615px;background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="float: right;margin: 4px 34px;">
								<input class="btn_sm_blue2 f_left" type="button" value="查看计划详情" onclick="check_plan_detail();"/>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label>负责人:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="blamePerson" name="blamePerson" th:value="${ap.blamePerson}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="margin-left: 50px;">
								<label>负责机构:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="blameOrgminzation" name="blameOrgminzation" th:value="${ap.blameOrgminzation}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="margin-left: 50px;">
								<label>负责部门:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="blameSection" name="blameSection" th:value="${ap.blameSection}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label>开始时间:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="startTime" name="startTime" th:value="${ap.startTime}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="margin-left: 50px;">
								<label>结束时间:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="endTime" name="endTime" th:value="${ap.endTime}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="margin-left: 50px;">
								<label>工期:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="timeLimit" name="timeLimit" th:value="${ap.timeLimit}" readonly="readonly" style="background-color: #F5F5F5;"/>
									<span>天</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label>完成标准:</label>
								<div class="input_wrap">
									<!-- 富文本编辑器 -->
									<textarea class="layui-textarea" id="finishStandard" name="finishStandard" th:text="${ap.finishStandard}" readonly="readonly" style="height: 100px;width: 1028px;background-color: #F5F5F5;color: #999;"></textarea>
								</div>
							</div>
						</td>
					</tr>
				</table>
	   		</div>
	   		<div>
				<hr class="layui-bg-orange cut_off_line"/>
				<div class="form_item">
					<label style="margin-left: 75px;font-weight: 600;">指派信息</label>
				</div>
				<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 200px;margin-top: -55px;">
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label>指派人:</label>
								<div class="input_wrap">
									<input type="text" class="layui-input" id="assignor" name="assignor" th:value="${coop.assignor}" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
							<div class="form_item" style="margin-left: 50px;">
								<label>承诺完成时间:</label>
								<div class="input_wrap">
									<input th:if="${coop.finishTime} != null" type="text" class="layui-input" id="finishTime" name="finishTime" th:value="${#dates.format(coop.finishTime,'yyyy-MM-dd')}" readonly="readonly" style="background-color: #F5F5F5;"/>
									<input th:if="${coop.finishTime} == null" type="text" class="layui-input" id="finishTime" name="finishTime" readonly="readonly" style="background-color: #F5F5F5;"/>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div th:if="${coop.remark} != null">
				<hr class="layui-bg-orange cut_off_line"/>
				<div class="form_item">
					<label style="margin-left: 75px;font-weight: 600;">执行反馈信息</label>
				</div>
				<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 200px;margin-top: -55px;">
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>备注:</label>
								<div class="input_wrap">
									<!-- 富文本编辑器 -->
									<textarea class="layui-textarea" id="remark" name="remark" th:text="${coop.remark}" readonly="readonly" style="height: 100px;width: 1028px;background-color: #F5F5F5;color: #999;"></textarea>
								</div>
							</div>
						</td>
					</tr>
					<tr th:if="${acceList} != null">
						<td class="pt_20">
							<div class="form_item">
								<label>附件:</label>
								<div class="input_wrap">
									<table class="layui-table" style="width: 1028px;">
										<thead>
											<tr>
												<th>文件名</th>
												<th>文件类型</th>
												<th>大小</th>
												<th>上传时间</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="acce,subPlanStat:${acceList}">
												<td th:text="${acce.name}"></td>
												<td th:text="${acce.suffix}"></td>
												<td th:text="${acce.size}"></td>
												<td th:text="${#dates.format(acce.upTime,'yyyy-MM-dd HH:mm:ss')}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div th:if="${flag} == 'complete'">
				<hr class="layui-bg-orange cut_off_line"/>
				<div class="form_item">
					<label style="margin-left: 75px;font-weight: 600;">执行反馈信息</label>
				</div>
				<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 200px;margin-top: -55px;">
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label><span class="star">*</span>备注:</label>
								<div class="input_wrap">
									<!-- 富文本编辑器 -->
									<textarea class="layui-textarea" id="remark" name="remark" th:text="${coop.remark}" style="height: 100px;width: 1028px;" placeholder="请输入备注，协作执行反馈信息（限制长度100字节）"></textarea>
									<p class="text-right">(100字节)</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="pt_20">
							<div class="form_item">
								<label>附件:</label>
								<div class="input_wrap">
									<button type="button" class="layui-btn layui-btn-normal" id="upAcceList">批量选择文件</button> 
									<button type="button" class="layui-btn" id="upAcceListAction" style="float: right;display: none;">开始上传</button>
									<div class="layui-upload" style="width: 1028px;display: none;">
										<div class="layui-upload-list">
											<table class="layui-table">
												<thead>
													<tr>
														<th>文件名</th>
														<th>大小</th>
														<th>状态</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody id="demoList"></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
	   		<div class="foot_btn_box" style="margin: 45px 0px 15px 0px;">
				<span th:if="${flag} == 'complete'" class="btn_sm_blue1" onclick="complete();">完成</span>
				<span th:if="${flag} == 'complete'" class="btn_sm_white3" style="margin-left: 60px;" onclick="cancel_complete();">返回</span>
				<span th:if="${flag} == 'check'" class="btn_sm_blue1" onclick="cancel();">返回</span>
			</div>
		</div>
		<script type="text/javascript">
			layui.use(["form", "laydate"], function () {
				var form = layui.form;
				var laydate = layui.laydate;
			})
			
			$(".acce_style").on("click", function () {
				$(this).prev("input").click();
			})
		</script>
	</body>
	<script type="text/javascript">
	  	/*<![CDATA[*/
	  	function cancel(){
	  		window.location.href="/cooperation_execute_0_10_0.action";
	  	}
	  	
	  	function cancel_complete(){
	  		var coopId = $("#coopId").val();
	  		window.location.href="/cancel_complete.action?coopId="+coopId;
	  	}
	  	
	  	function check_plan_detail(){
	  		var apId = $("#apId").val();
	  		if(apId != "")
	  			window.location.href="/check_plan_detail.action?apId="+apId;
	  	}
	  	
	  	function complete(){
	  		var coopId = $("#coopId").val();
	  		var remark = $("#remark").val();
	  		layer.confirm('确认完成本条协作？', {
	        btn: ['确定','取消'] 
	        }, function(){
	        	window.location.href="/complete_cooperation.action?coopId="+coopId+"&&remark="+remark;
        	}
        );
	  	}
	  	/*]]>*/
    </script>
	<script>
		layui.use('upload', function(){
			var $ = layui.jquery
			,upload = layui.upload;
			  
			//多文件列表示例
			var coopId = $("#coopId").val();
			var demoListView = $('#demoList')
			,uploadListIns = upload.render({
				elem: '#upAcceList'
				,url: '/upload/cooperationAccessory.action?coopId='+coopId
				,accept: 'file'
				,multiple: true
				,auto: false
				,bindAction: '#upAcceListAction'
				,choose: function(obj){   
					var files = obj.pushFile(); //将每次选择的文件追加到文件队列
					//读取本地文件
					obj.preview(function(index, file, result){
						var tr = $(['<tr id="upload-'+ index +'">'
									,'<td>'+ file.name +'</td>'
									,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
									,'<td>等待上传</td>'
									,'<td>'
									,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
									,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
									,'</td>'
									,'</tr>'].join(''));
						        
						//单个重传
						tr.find('.demo-reload').on('click', function(){
							obj.upload(index, file);
						});
						        
						//删除
						tr.find('.demo-delete').on('click', function(){
							delete files[index]; //删除对应的文件
							tr.remove();
						});
						        
						demoListView.append(tr);
					});
					
					$("#upAcceListAction").css("display", "block");
					$(".layui-upload").css("display", "block");
					$("#myBody").css("height", "auto");
				}
				,done: function(res, index, upload){
					if(res.code == 0){ //上传成功
						var tr = demoListView.find('tr#upload-'+ index)
						,tds = tr.children();
						tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
						tds.eq(3).html(''); //清空操作
						delete files[index]; //删除文件队列已经上传成功的文件
						return;
					}
					this.error(index, upload);
				}
				,error: function(index, upload){
					var tr = demoListView.find('tr#upload-'+ index)
					,tds = tr.children();
					tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
					tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
				}
			});
		});
	</script>
</html>
