<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>添加节点</title>
     <link rel="stylesheet" href="../css/layui/css/layui.css"/>
    <link rel="stylesheet" href="../cssAndJs/css/plan_style.css"/>
    <link rel="stylesheet" href="../cssAndJs/css/nodeAdded.css"/>
</head>
<body style="overflow: hidden">
<div class="addNode_layer">
    <div class="alert_6">
        <form action="" class="layui-form">
            <table>
                <tr th:if="${nodesum}==1">
                    <td colspan="2">
                        <div class="form_item">
                            <label>当前节点：</label>
                            <div class="input_wrap">
                                <input type="text" class="layui-input currentName" th:value="${nodeName}" readonly="readonly" style="width: 118px;"/>
                                <input id="nodeId" type="hidden" th:value="${nodeId}"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr th:if="${nodesum}==1">
                    <td colspan="2">
                        <div class="form_item">
                            <label><span>*</span>选择节点位置：</label>
                            <ul>
                                <li id="ahead" th:value="1">
                                    <input  type="hidden" />
                                    <span>添加到本节点前</span>
                                </li>
                                <li id="behand" th:value="2">
                                    <input  type="hidden" />
                                    <span>添加到本节点后</span>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form_item">
                            <label><span>*</span>节点名称：</label>
                            <div class="input_wrap">
                                <input id="nodeNam" type="text" class="layui-input" placeholder="输入节点名称，20字以内"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form_item">
                            <label><span class="star">*</span>节点描述：</label>
                            <div class="input_wrap" style="margin-bottom: 15px;">
                                <textarea id="nodeDescribe" class="layui-textarea" placeholder="输入节点描述，200字以内"></textarea>
                                <div class="font_number">
                                    <span>0</span>/<span>200</span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form_item">
                            <label><span class="star">*</span>开始时间：</label>
                            <div class="input_wrap">
                                <input type="text" id="startTime" placeholder="年-月-日" class="layui-input laydate_time" lay-key="1"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form_item">
                            <label><span class="star">*</span>结束时间：</label>
                            <div class="input_wrap">
                                <input type="text" id="endTime" placeholder="年-月-日" class="layui-input laydate_time" lay-key="2"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script src="../js/jquery.js"></script>
<script src="../cssAndJs/libs/layui/layui.js"></script>
<script>
    <!--选择节点位置-->
    $(".addNode_layer").find("ul li").click(function () {
        $(this).addClass("active").siblings("li").removeClass("active");
        
    });
    layui.use(["form", "laydate", "layer", "laypage"], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var laypage = layui.laypage;
        layer.config({
            skin: "layer_custom",
            btnAlign: "c",
            resize: false
        });
        $(".laydate_time").each(function () {
            laydate.render({
                elem: this
            });
        });
    });
 // 限制200字数
    $('.layui-textarea').on('input propertychange change', function() {
        var Num=$(this).val().length;
        if(Num>200){
        	layer.msg("输入字数达到上限")
            $(this).val($(this).val().slice(0,200));
            $(this).next(".font_number").find("span").eq(0).text(200);
        }else {
            $(this).next(".font_number").find("span").eq(0).text(Num)
        }
    });
</script>
</body>
</html>