<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>计划分解列表页</title>
    <link rel="stylesheet" href="../cssAndJs/libs/bootstrap.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/font-awesome.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/layui/css/layui.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/layui/css/modules/laydate/default/laydate.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/base.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/plan_style.css"/>
	
	<script type="text/javascript" src="../cssAndJs/libs/layui/layui.js"></script>
	<script type="text/javascript" src="../cssAndJs/libs/jquery.js"></script>

	<style type="text/css">
		a{color: blue;}
	</style>
  </head>
  
  <body style="padding: 0px;">
    <div class="plan_layout">
			<h5>调整后效果</h5>
		<div style="height: 200px; ">
			<table class="table_public" border="1" cellspacing="0" cellpadding="0" style="text-align: center;">
				<tr style="height: 200px">
					<td></td>
				</tr>
			</table>
		</div>
		<!--分页-->
		<div class="pages_box" th:if="${planList} != null">
			<div class="custom_pager"></div>
		</div>
		<input type="hidden" id="rows" name="rows" th:value="${rows}"/>
		<input type="hidden" id="pageSize" name="pageSize" th:value="${pageSize}"/>
		<input type="hidden" id="pageCurrent" name="pageCurrent" th:value="${pageCurrent}"/>
		<input type="hidden" id="pageCount" name="pageCount" th:value="${pageCount}"/>
	</div>
	<script type="text/javascript">
		var count=$("#rows").val();
	 	var	limit=$("#pageSize").val();
 		var	pageCurrent=$("#pageCurrent").val();
 		var pageCount=$("#pageCount").val();  
		var planType=$("#planType").val();  
		
		layui.use(["form", "laydate", "layer", "laypage"], function () {
			var form = layui.form;
			var laydate = layui.laydate;
			var layer = layui.layer;
			var laypage = layui.laypage;

			$(".laydate_time").each(function () {
				laydate.render({
					elem: this
				});
			});
			
			//分页器
			$(".custom_pager").each(function () {
				laypage.render({
					elem: this,
					count: count,	// 数据条数
					limit: limit,	// 限制每页显示的数据条数
					curr: pageCurrent,	// 起始默认页面
					groups: 6,	// 分页器连续出现的页码个数
					layout: ['prev', 'page', 'next'],	//自定义排版
					theme: "custom",	// 自定义样式
					//当分页被切换时触发(包括首次加载)
					jump: function (obj, first) {

						var html = '<div class="custom_pager_count">' +
										'共' + obj.pages + '页, 第' + obj.curr + '页' +
									'</div>';
						$(obj.elem).append(html);

						if (first) {
							return;
						}else{
							window.location.href="/node_decompose_detail_"+obj.curr+"_0_0";
							var html = '<div class="custom_pager_count">' +
							'共' + obj.pages + '页, 第' + pageCurrent + '页' +
							'</div>';
							$(obj.elem).append(html);
						}
					}
				});
			});
		})
	</script>
  </body>
</html>
