<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>子计划</title>
	<link rel="stylesheet" href="../cssAndJs/libs/bootstrap.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/font-awesome.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/layui/css/layui.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/layui/css/modules/laydate/default/laydate.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/base.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/plan_style.css"/>
	<link rel="stylesheet" href="../css/plugins/sweetalert/sweetalert.css"/>
	
	<script type="text/javascript" src="../cssAndJs/libs/layui/layui.js"></script>
	<script type="text/javascript" src="../cssAndJs/libs/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript" src="../js/jquery-form.js"></script>
	
	
	<script src="../js/jquery.min.js?v=2.1.4"></script>
    <script src="../js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../js/plugins/sweetalert/sweetalert.min.js"></script>
</head>

<body>
            
          <div class="plan_layout">
	    <form id="saveForm" action="saveplan.action" method="get"  class="layui-form">
	    	<table border="0" cellspacing="0" cellpadding="0" style="margin-left: 380px;">
	    		<tr style="display: none">
					<td>
						<input type="hidden" name="planLocation" th:value="${planLocation}"/>
                        <input type="hidden" name="mplanId" id="mplanId" th:value="${planId}"/>
                        <input type="hidden" name="planType" th:value="${subplan.planType}"/>
                        <input type="hidden" name="type" id="type" th:value="${type}"/>
					</td>
				</tr>
	    		<tr>
	    			<td class="pt_20">
	    				<div class="form_item">
				   			<label style="color:red;">当前操作计划:</label>
				   			<div class="input_wrap" style="width: 200px">
								<span th:text="${planName}" style="height: 34px;line-height: 34px;color:red;"></span>
							</div>
				   		</div>
				   		<div class="form_item" style="margin-left: 165px;">
				   			<label th:if="${planLocation}!=null" style="color:red;">添加位置:</label>
				   			<div class="input_wrap" style="margin-top: 7px">
								<span th:switch="${planLocation}">
			    						<span th:case="1" style="color:red;">本计划之前</span>
			    						<span th:case="2" style="color:red;">本计划之后</span>
								</span>
							</div>
				   		</div>
	    			</td>
	    		</tr>
	    		<tr>
					<td class="pt_20">
						<div class="form_item">
							<label><span class="star">*</span>计划名称:</label>
							<div class="input_wrap">
								<input type="text" class="layui-input" style="width: 615px;" id="planName" name="planName"  placeholder="计划名称限制长度50字"/>
							</div>
						</div>
					</td>
				</tr>
	    		<tr>
					<td class="pt_20">
						<div class="form_item">
							<label>计划描述:</label>
							<div class="input_wrap">
								<!-- 富文本编辑器 -->
								<textarea class="layui-textarea" style="height: 100px;width: 615px;" id="planDescribe" name="planDescribe"  placeholder="计划简要描述（限制长度为200字节）"></textarea>
								<p class="text-right">(200字节)</p>
							</div>
						</div>
					</td>
				</tr>
	    		<tr>
					<td class="pt_20">
						<div class="form_item">
							<label><span class="star">*</span>负责机构:</label>
							<div class="input_wrap">
								<input type="text" class="layui-input" id="blameOrganization" name="blameOrganization"  placeholder="显示机构" readonly="readonly" style="background-color: #F5F5F5;"/>
							</div>
						</div>
						<div class="form_item" style="margin-left: 50px;">
							<label><span class="star">*</span>负责部门:</label>
							<div class="input_wrap">
								<input type="text" class="layui-input" id="blameSection" name="blameSection"  placeholder="显示中心+部门" readonly="readonly" style="background-color: #F5F5F5;"/>
							</div>
						</div>
					</td>
				</tr>
	    		<tr>
					<td class="pt_20">
						<div class="form_item">
							<label><span class="star">*</span>负责人:</label>
							<div class="input_wrap">
								<input type="text" class="layui-input" id="blamePerson" name="blamePerson"  placeholder="请选择负责人" onclick="chose_blamePerson();"/>
								<input type="hidden" th:value="${subplan.planType}" id="planType" />
							</div>
						</div>
					</td>
				</tr>
				<tr th:if="${subplan.planType} == 2">
					<td class="pt_20">
						<div class="form_item">
							<label><span class="star">*</span>循环方式:</label>
							<div class="input_wrap">
								<input type="radio" name="loopMode" value="1" title="天"  checked="checked"/>
				                <input type="radio" name="loopMode" value="2" title="周" />
				                <input type="radio" name="loopMode" value="3" title="月" />
							</div>
						</div>
						<div class="form_item" id="loopRate" style="margin-left: 312px;">
							<label><span class="star">*</span>循环频率:</label>
							<div class="input_wrap" id="loopRateHtml">
								<span>每</span>
								<input type="text" class="layui-input" style="width: 50px;padding-left: 20px;background-color: #F5F5F5;" id="rate" name="loopRate" value="1" readonly="readonly"/>
								<span id="day">天一次</span>
								<span id="week" style="display: none">周一次</span>
								<span id="month" style="display: none">月一次</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="pt_20">
						<div class="form_item">
							<label><span class="star">*</span>开始时间:</label>
							<div class="input_wrap">
								<input th:unless="${subplan.planType} == 2" type="text" class="layui-input laydate_time" id="startTime" name="startTime"  placeholder="年-月-日"/>
								<input th:if="${subplan.planType} == 2" type="text" class="layui-input laydate_time2" id="startTime" name="startTime"  placeholder="年-月-日"/>
							</div>
						</div>
						<div class="form_item" style="margin-left: 50px;">
							<label><span class="star">*</span>结束时间:</label>
							<div class="input_wrap">
								<input th:unless="${subplan.planType} == 2" type="text" class="layui-input laydate_time" id="endTime" name="endTime"  placeholder="年-月-日"/>
								<input th:if="${subplan.planType} == 2" type="text" class="layui-input laydate_time2" id="endTime" name="endTime"  placeholder="年-月-日"/>
							</div>
						</div>
						<div class="form_item" th:if="${subPlan.planType} == 2">
							<div class="input_wrap" style="padding-bottom: 8px;margin-left: -15px;">
								<span class="star" style="padding-left: 20px;">（计划周期时间必须为循环频率所设置周数/月数的倍数）</span>
							</div>
						</div>
					</td>
					
				</tr>
		   		<tr>
					<td class="pt_20">
						<div class="form_item">
							<label><span class="star">*</span>完成标准:</label>
							<div class="input_wrap">
								<!-- 富文本编辑器 -->
								<textarea class="layui-textarea" style="height: 100px;width: 615px;" id="finishStandard" name="finishStandard"  placeholder="请描述计划完成后所需达到的标准（限制长度为200字节）"></textarea>
								<p class="text-right">(200字节)</p>
							</div>
						</div>
					</td>
				</tr>
	    	</table>
	    	<label style="margin-top: 20px;">考核设置</label>
			<hr class="layui-bg-orange cut_off_line" />
			<table border="0" cellspacing="0" cellpadding="0" style="margin-top: -20px;margin-left: 380px;"  class="custom_form">
				<tr>
					<td class="pt_20">
						<div class="form_item">
							<label><span class="star">*</span>温馨提示:</label>
							<div class="input_wrap">
								
								<span style="height: 34px;line-height: 34px;">验证方式、考核类型可多选</span>
							</div>
						</div>
					</td>
				</tr>
				<tr th:if="${subplan.planType} == 2"><!--  -->
					<td class="pt_20">
						<div class="form_item">
							<label>验证方式:</label>
							<div class="input_wrap" style="height: 100px;">
								<span style="height: 34px;line-height: 34px;display: block;">	
									<input type="checkbox" name="validate_mode" value="1" onclick="chose_validateMode(1);" />
									<span class="checkItem">上传凭证</span>
									<input type="hidden" id="validateMode_1" name="validateMode" />
								</span>
								<div style="padding-top: 20px;display: inline-block;vertical-align: top;">
									<input type="checkbox" name="validate_mode" value="2" onclick="chose_validateMode(2);" />
									<span class="checkItem">系统提取</span>
								</div>
								<div id="extract_item" class="form_item" style="display: none;padding-top: 15px;margin-left: 180px;">
									<label><span class="star">*</span>提取项名称:</label>
									<div class="input_wrap">
										<input type="text" class="layui-input" id="extractItem" name="extractItem" />
										<img class="search_img" src="../img/search_24.png" />
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="pt_20">
						<div class="form_item">
							<label>考核类型:</label>
							<div class="input_wrap">
								<span style="height: 34px;line-height: 34px;display: block;">	
									<input type="checkbox" name="check_item" value="1" onclick="chose_checkItem(1);" />
									<span class="checkItem">计划未按期开始</span>
									<input type="hidden" id="checkItem" name="checkItem" />
								</span>
								<div style="padding-top: 20px;display: inline-block;vertical-align: top;">
									<select id="checkManner_1" name="checkManner" lay-filter="checkManner_1">
										<option value="1">单次考核</option>
										<option value="2">按天累计</option>
									</select>
								</div>
								<div id="checkItem_1" class="form_item" style="display: inline-block;padding-top: 20px;margin-left: 70px;">
									<label><span class="star">*</span>考核金额:</label>
									<div class="input_wrap" id="amount_1">
										<div>
											<input style="width: 100px;" type="text" class="layui-input" name="singleAmount" />&nbsp;元/次
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="pt_20">
						<div class="form_item">
							<label>考核类型:</label>
							<div class="input_wrap">
								<span style="height: 34px;line-height: 34px;display: block;">	
									<input type="checkbox" name="check_item" value="2" onclick="chose_checkItem(2);" />
									
									<span class="checkItem">计划未按期完成</span>
									<input type="hidden" id="checkItems" name="checkItems" />
									
									
									
								</span>
								<div style="padding-top: 20px;display: inline-block;vertical-align: top;">
									<select id="checkManner_2" name="checkManners" lay-filter="checkManner_2">
										<option value="1">单次考核</option>
										<option value="2">按天累计</option>
									</select>
									
									
									
								</div>
								<div id="checkItem_2" class="form_item" style="display: inline-block;padding-top: 20px;margin-left: 70px;">
									<label><span class="star">*</span>考核金额:</label>
									<div class="input_wrap" id="amount_2">
										<div>
											<input style="width: 100px;" type="text" class="layui-input" name="singleAmounts" />&nbsp;元/次
										</div>
									</div>
									
									
									
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
	    	<div class="foot_btn_box" style="margin-top: 45px;">
				<input type="button" id="btn1"  class="btn_sm_blue8"   value="保存"/>
				<span class="btn_sm_white3" id="btn2" style="margin-left: 60px;" >取消</span>
			</div>
	    </form>
    </div>
    		
    		
    <script type="text/javascript">
    	layui.use(["form", "laydate"], function () {
			var form = layui.form;
			var laydate = layui.laydate;

			$(".laydate_time").each(function () {
				laydate.render({
					elem: this
				});
			});
			$(".layui-form-radio").click(function(){
			  	
		  		console.log($(this).index())
	           	if($(this).index() == 1){
	           		$("#rate").val(1);
	           		$("#rate").attr("readonly",true)
	           		$("#week").css("display","none")
	           		$("#month").css("display","none")
	           		$("#day").css("display","inline-block")
	           	}else if($(this).index() == 3){
	           		$("#day").css("display","none")
	           		$("#month").css("display","none")
	           		$("#week").css("display","inline-block")
	           		$("#rate").attr("readonly",false)
	           		
	           	}else if($(this).index() == 5){
	           		$("#week").css("display","none")
	           		$("#month").css("display","inline-block")
	           		$("#day").css("display","none")
	           		$("#rate").attr("readonly",false)
	           	} 
	        });
			$(".layui-form-checkbox").click(function(){
		    	$(this).prev().click()
		    })
		    form.on('select(checkManner_1)', function(data){
				select_checkManner(1);
			});
			form.on('select(checkManner_2)', function(data){
				select_checkManner(2);
			});
		})
		
    </script>	
      <script>
	// 限制200字数
	    $('.layui-textarea').on('input propertychange change', function() {
	        var Num=$(this).val().length;
	        if(Num>200){
	        	layer.msg("输入字符过长");
	            $(this).val($(this).val().slice(0,200));
	            $(this).next(".font_number").find("span").eq(0).text(200);
	        }else {
	            $(this).next(".font_number").find("span").eq(0).text(Num)
	        }
	    });
	</script>		
    		
    		
     <script type="text/javascript">
     /*<![CDATA[*/
    //字符串转日期格式，strDate要转为日期格式的字符串 
		function getDate(strDate){   
			var date = eval('new Date(' + strDate.replace(/\d+(?=-[^-]+$)/,     
				function (a) {return parseInt(a, 10) - 1; }).match(/\d+/g) + ')');   
			return date; 
			}             
    
  	$(function(){
  		var mplanId=$("#mplanId").val();
  		var type=$("#type").val();
		$("#btn2").click(function() {
			window.history.go(-1);
		});
		
		$("#btn1").click(function() {
			var planName=$("#planName").val();
			var planDescribe=$("#planDescribe").val();
			var blamePerson=$("#blamePerson").val();
			var startTime=$("#startTime").val();
			var endTime=$("#endTime").val();
			var finishStandard=$("#finishStandard").val();
			var planType=$("#planType").val();
			if(planType==2){
				var startTimeDaily=$("#startTimeDaily").val();
				var endTimeDaily=$("#endTimeDaily").val();
				if(startTimeDaily==""){
					layer.msg("请填写准确开始时间");
					return;
				}
				if(endTimeDaily==""){
					layer.msg("请填写准确结束时间");
					return;
				}
			}else{
				if(getDate(startTime)>getDate(endTime)){
					layer.msg("开始时间大于结束时间，请填写正确时间");
					return;
				}
			}
			if(planName==""){
				layer.msg("请填写计划名字");
				return;
			}
			if(planName.length>50){
				layer.msg("计划名字过长");
				return;
			}
			if(planDescribe==""){
				layer.msg("请填写计划描述");
				return;
			}
			if(planDescribe.length>200){
				layer.msg("计划描述过长");
				return;
			}
			
			if(blamePerson==""){
				layer.msg("请选择负责人");
				return;
			}
			if(startTime==""){
				layer.msg("请选择开始时间");
				return;
			}
			if(endTime==""){
				layer.msg("请选择结束时间");
				return;
			}
			if(finishStandard==""){
				layer.msg("请填写完成标准");
				return;
			}
			if(finishStandard.length>200){
				layer.msg("完成标准过长");
				return;
			}
			$("#saveForm").submit();
		});
		
	});
  	function chose_blamePerson(){
  		layer.open({
  			type: 2,
            title: '选择负责人',
            skin: 'layui-layer-molv',
            shadeClose: true,
            shade: 0.1,
            area: ['570px', '735px'],
            content: ['/chose_blamePerson.action','no']
  		});
  	}
  	
  	/* ---------------------------------------------- */
  	$(function(){
  		
	  	/* $(".layui-form-radio").click(function(){
	  	
	  		console.log($(this).val())
           	if($(this).val() == 1){
           		$("#rate").val(1);
           		$("#rate").readOnly=true;
           		$("#week").display="none";
           		$("#month").display="none";
           	}else if($(this).val() == 2){
           		$("#day").display="none";
           		$("#month").display="none";
           		$("#rate").readOnly=false;
           		
           	}else if($(this).val() == 3){
           		$("#day").display="none";
           		$("#week").display="none";
           		$("#rate").readOnly=false;
           	} 
        }); */
    });
  	
  	function select_checkManner(val){
  		var checkManner = null;
  		if(val == 1){
	  		checkManner = $("#checkManner_1").val();
	  		if(checkManner == 1){
	  			$("#amount_1").remove();
	  			$("#checkItem_1").append("<div class='input_wrap' id='amount_1'><div>"+
											"<input style='width: 100px;' type='text' class='layui-input' name='singleAmount'/>&nbsp;元/次"+
										 "</div></div>");
	  		}else if(checkManner == 2){
	  			$("#amount_1").remove();
	  			$("#checkItem_1").append("<div class='input_wrap' id='amount_1'><div>"+
											"每延期&nbsp;<img style='position: relative;margin-top: -3px;' src='../img/minus.png' onclick='minus_days(this);'/>"+
											"<input style='width: 140px;margin-left: -27px;text-indent: 40px;' type='text' class='layui-input' name='cumulativeDays' value='1'/>"+
											"<img style='margin: -2px 0 0 -34px;' src='../img/add.png' onclick='add_days(this);'/>&nbsp;天，"+
											"扣款&nbsp;<input style='width: 100px;' type='text' class='layui-input' name='cumulativeAmount'/>&nbsp;元"+
										 "</div></div>");
	  		}
  		}else if(val == 2){
	  		checkManner = $("#checkManner_2").val();
	  		if(checkManner == 1){
	  			$("#amount_2").remove();
	  			$("#checkItem_2").append("<div class='input_wrap' id='amount_2'><div>"+
											"<input style='width: 100px;' type='text' class='layui-input' name='singleAmounts'/>&nbsp;元/次"+
										 "</div></div>");
	  		}else if(checkManner == 2){
	  			$("#amount_2").remove();
	  			$("#checkItem_2").append("<div class='input_wrap' id='amount_2'><div>"+
											"每延期&nbsp;<img style='position: relative;margin-top: -3px;' src='../img/minus.png' onclick='minus_days(this);'/>"+
											"<input style='width: 140px;margin-left: -37px;text-indent: 40px;' type='text' class='layui-input' name='cumulativeDayss' value='1'/>"+
											"<img style='margin: -2px 0 0 -34px;' src='../img/add.png' onclick='add_days(this);'/>&nbsp;天，"+
											"扣款&nbsp;<input style='width: 100px;' type='text' class='layui-input' name='cumulativeAmounts'/>&nbsp;元"+
										 "</div></div>");
	  		}
  		}
  	}
  	
  	function chose_checkItem(val){
    	$("input[name='check_item']").each(function(){    
	        if($(this).val() == val){    
	        	if($(this).attr("checked")!=undefined){
	        		$(this).attr("checked", false);
	        		$(this).siblings().removeClass("layui-form-checked");
	        		if(val == 1){
	        			$("#checkItem").val("");
	        		}else if(val == 2){
	        			$("#checkItems").val("");
	        		}
	        	}else{
	        		$(this).attr("checked", true);
	        		if(val == 1){
	        			$("#checkItem").val(val);
	        		}else if(val == 2){
	        			$("#checkItems").val(val);
	        		}
	        	}
	        }
        }); 
    }
    
    function minus_days(othis){
    	var days = $(othis).next().val();
    	if(days > 0){
    		$(othis).next().val(days - 1);
    	}else{
    		$(othis).next().val(0);
    	}
    	
    }
    function add_days(othis){
    	var days = $(othis).prev().val();
    	$(othis).prev().val(days - 1 + 2);
    }
   
    function chose_validateMode(val){
    	$("input[name='validate_mode']").each(function(){ 
    		
	        if($(this).val() == val){    
	        	if($(this).attr("checked")!=undefined){
	        		$(this).attr("checked", false);
	        		$(this).siblings().removeClass("layui-form-checked");
	        		if(val == 1){
	        			$("#validateMode_1").val(null);
	        		}else if(val == 2){
	        			$("#extractItem").val(null);
	        			$("#extract_item").css("display", "none");
	        		}
	        	}else{
	        		$(this).attr("checked", true);
	        		if(val == 1){
	        			$("#validateMode_1").val(val);
	        		}else if(val == 2){
	        			$("#extract_item").css("display", "inline-block");
	        		}
	        	}
	        }
        });
    }
  	/*]]>*/
  </script>
</body>

</html>
