<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>我的考核列表</title>
    <link rel="stylesheet" href="../cssAndJs/libs/bootstrap.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/font-awesome.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/layui/css/layui.css"/>
	<link rel="stylesheet" href="../cssAndJs/libs/layui/css/modules/laydate/default/laydate.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/base.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/plan_style.css"/>
	<link rel="stylesheet" href="../cssAndJs/css/plan_monitor.css"/>
	<link rel="stylesheet" href="../css/plugins/sweetalert/sweetalert.css"/>
	
	<script type="text/javascript" src="../cssAndJs/libs/layui/layui.js"></script>
	<script type="text/javascript" src="../cssAndJs/libs/jquery.js"></script>
	<script type="text/javascript" src="../js/plugins/sweetalert/sweetalert.min.js"></script>

	<style type="text/css">
		a{color: blue;}
		.handle_img{margin: 0px 10px;}
	</style>
  </head>
  <!--
	     作者：Jiayan He 
	     时间：2017-12-11
	     描述：我的考核列表页面
  -->
  <body style="padding: 0px;height: 100%;">
	<div class="coordinate location">
        <ul>
            <li><a href="javascript:void(0)">计划监察<b>></b></a></li>
            <li><a href="#">我的监察</a></li>
        </ul>
    </div>
    <div>
		<form action="/my_examine_record_0_10_0.action" method="post" class="layui-form">			
			<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
				<tr>
					<td class="pt_20">
						<div class="form_item">
							<label>协作/计划:</label>
							<div class="input_wrap">
								<input id="assContent" name="assContent" th:value="${ass.assContent}" placeholder="请输入计划名称/协作主题" type="text" class="layui-input" style="width: 786px;"/>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="pt_20">
						<div class="form_item">
							<label>考核时间:</label>
							<div class="input_wrap">
								<input type="text" class="layui-input laydate_time" id="startTime" name="startTime" th:value="${startTime}" placeholder="年-月-日"/>
								<span>至</span>
								<input type="text" class="layui-input laydate_time" id="endTime" name="endTime" th:value="${endTime}" placeholder="年-月-日"/>
							</div>
						</div>
						<div class="form_item">
							<label>状态:</label>
							<div class="input_wrap">
								<select id="status" name="status" class="layui-form-select layui-unselect" lay-verify="">
									<option value="" >全部</option>
                                  		<option value="1" th:selected="${ass.status} == 1">申诉待处理</option>
                                  		<option value="2" th:selected="${ass.status} == 2">申诉已驳回</option>
                                  		<option value="3" th:selected="${ass.status} == 3">未计入薪酬</option>
                                  		<option value="4" th:selected="${ass.status} == 4">已计入薪酬</option>
                                  		<option value="5" th:selected="${ass.status} == 5">考核已撤销</option>
								</select>
							</div>
						</div>
						<div class="form_item">
							<label>考核类型:</label>
							<div class="input_wrap">
								<select id="assType" name="assType" class="layui-form-select layui-unselect" lay-verify="">
									<option value="" >全部</option>
                                  		<option value="1" th:selected="${ass.assType} == 1">协作未处理</option>
                                  		<option value="2" th:selected="${ass.assType} == 2">计划未按期汇报</option>
                                  		<option value="3" th:selected="${ass.assType} == 3">计划未按期开始</option>
                                  		<option value="4" th:selected="${ass.assType} == 4">计划未按期结束</option>
								</select>
							</div>
						</div>
						<div class="form_item" style="margin-left: 60px;">
							<button type="submit" class="btn_sm_blue1 f_left" value=""><img style="padding-bottom: 2px;" src="../img/search_grey.png"/><span style="margin-left: 8px;">查询</span></button>
						</div>
					</td>
				</tr>
			</table>
		</form>	
		<div style="height: 551px;">
			<table class="table_public" border="0" cellspacing="0" cellpadding="0" style="text-align: center;;margin: 20px 20px 0px 20px;width: 97.6%;">
				<tr>
					<th style="width: 4%;">序号</th>
					<th style="width: 8%;">状态</th>
					<th style="width: 8%;">考核类型</th>
					<th style="width: 12%;">考核时间</th>
					<th style="width: 21%;">协作/计划</th>
					<th style="width: 8%;">考核金额（元）</th>
					<th style="width: 9%;">操作</th>
				</tr>
				<tr th:if="${assList} == null">
					<td colspan="10" style="height: 50px;background-color: #F5F5F5;">暂无数据</td>
				</tr>
				<tr th:each="ass,userStat:${assList}" th:if="${assList} != null">
			   		<td th:if="${pageCurrent}==1" th:text="${userStat.count}">Onions</td> 
					<td th:unless="${pageCurrent}==1" th:text="${userStat.index}+${pageCurrent}*10-9">Onions</td>
			      	<td>
			      		<span th:switch="${ass.status}">
					    	<span th:case="1">申诉待处理</span>
					    	<span th:case="2">申诉已驳回</span>
					    	<span th:case="3">未计入薪酬</span>
					    	<span th:case="4">已计入薪酬</span>
					    	<span th:case="5">考核已撤销</span>
				      	</span>
			      	</td>
			      	<td>
			      		<span th:switch="${ass.assType}">
					    	<span th:case="1">协作未处理</span>
					    	<span th:case="2">计划未按期汇报</span>
					    	<span th:case="3">计划未按期开始</span>
					    	<span th:case="4">计划未按期结束</span>
				      	</span>
			      	</td>
			      	<td th:text="${#dates.format(ass.assTime,'yyyy-MM-dd HH:mm:ss')}"></td>
			      	<td th:text="${ass.assContent}" style="text-align: left;padding-left: 30px;"></td>
			      	<td th:text="${ass.assAmount}"></td>
			      	<td th:switch="${ass.status}">
			      		<div th:case="2">
				      		<a class="handle_img" th:href="'/complain_or_check_assessment.action?assId='+${ass.assId}" title="重新申诉"><img src="../img/handle.png"/></a>
				      		<a class="handle_img" th:href="'/complain_or_check_assessment.action?assId='+${ass.assId}+'&amp;flag=check'" title="查看详情"><img src="../img/check_detail.png"/></a>
			      		</div>
			      		<div th:case="3">
				      		<a class="handle_img" th:href="'/complain_or_check_assessment.action?assId='+${ass.assId}" title="申诉"><img src="../img/handle.png"/></a>
				      		<a class="handle_img" th:href="'/complain_or_check_assessment.action?assId='+${ass.assId}+'&amp;flag=check'" title="查看详情"><img src="../img/check_detail.png"/></a>
			      		</div>
			      		<div th:case="*">
				      		<a style="margin-left: 46px;" th:href="'/complain_or_check_assessment.action?assId='+${ass.assId}+'&amp;flag=check'" title="查看详情"><img src="../img/check_detail.png"/></a>
			      		</div>
			      	</td>
				</tr>
			</table>
		</div>
		<!--分页-->
		<div class="pages_box" th:if="${assList} != null">
			<div class="custom_pager"></div>
		</div>
		<input type="hidden" id="rows" name="rows" th:value="${rows}"/>
		<input type="hidden" id="pageSize" name="pageSize" th:value="${pageSize}"/>
		<input type="hidden" id="pageCurrent" name="pageCurrent" th:value="${pageCurrent}"/>
		<input type="hidden" id="pageCount" name="pageCount" th:value="${pageCount}"/>
	</div>
	<script th:inline="javascript">
		var flag = [[${flag}]];
		$(document).ready(function () {
			if(flag!=null){
				swal({
		         	title : "温馨提示",
		         	text : flag
		      	}); 
			}
		});
	</script>
	<script type="text/javascript">
		var count=$("#rows").val();
	 	var	limit=$("#pageSize").val();
 		var	pageCurrent=$("#pageCurrent").val();
 		var pageCount=$("#pageCount").val();  
		var planType=$("#planType").val();  
		
		layui.use(["form", "laydate", "layer", "laypage"], function () {
			var form = layui.form;
			var laydate = layui.laydate;
			var layer = layui.layer;
			var laypage = layui.laypage;

			$(".laydate_time").each(function () {
				laydate.render({
					elem: this
				});
			});
			
			//分页器
			$(".custom_pager").each(function () {
				laypage.render({
					elem: this,
					count: count,	// 数据条数
					limit: limit,	// 限制每页显示的数据条数
					curr: pageCurrent,	// 起始默认页面
					groups: 6,	// 分页器连续出现的页码个数
					layout: ['prev', 'page', 'next'],	//自定义排版
					//当分页被切换时触发(包括首次加载)
					jump: function (obj, first) {

						var html = '<div class="custom_pager_count" style="margin-left: 10px;">' +
										'共' + obj.pages + '页, 第' + obj.curr + '页' +
									'</div>';
						$(obj.elem).append(html);

						if (first) {
							return;
						}else{
							window.location.href="/find_monitor_assignment_"+obj.curr+"_0_0?planType="+planType;
							var html = '<div class="custom_pager_count" style="margin-left: 10px;">' +
							'共' + obj.pages + '页, 第' + pageCurrent + '页' +
							'</div>';
							$(".custom_pager_count").remove();
							$(obj.elem).append(html);
						}
					}
				});
			});
		})
	</script>
	<script> 
		function IFrameResize(){ 
			var obj = parent.document.getElementById("external-frame"); 
			obj.height = this.document.body.scrollHeight; 
		} 
	</script>
  </body>
</html>
