<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <title>满惠     计划管理 后台 - 登录</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet"/>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/style.min.css" rel="stylesheet"/>
    <link href="../css/login.min.css" rel="stylesheet"/>
    <link href="../css/plugins/sweetalert/sweetalert.css" rel="stylesheet"/>
    <script src="../js/jquery.min.js?v=2.1.4"></script>
    <script src="../js/plugins/sweetalert/sweetalert.min.js"></script>
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>
<!--
	作者：Jiayan He 
	时间：2017-10-09
	描述：登陆页
-->
<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ 满惠 ]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>MH 计划管理系统</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </ul>
                    <strong>还没有账号？ <a href="register.html">立即注册&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post" action="/admin/login.action">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到满惠计划管理后台系统</p>
                    <input type="text" class="form-control uname" name="userName" placeholder="用户名" required=""/>
                    <input type="password" class="form-control pword m-b" name="passWord" placeholder="密码" required=""/>
                    <a href="#">忘记密码了？</a>
                    <button type="submit" class="btn btn-success btn-block">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2017 All Rights Reserved. MH
            </div>
        </div>
    </div>
    
    <script th:inline="javascript">
		var error = [[${error}]];
		$(document).ready(function () {
			if(error!=null){
				 swal({
		         	title : "温馨提示",
		         	text : error
		      	});
			}
		});
	</script>
</body>
</html>
